src/wsdl/localhost_8080/Leona_Station/ControllerServicos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.station.leona.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.station.leona.br/" name="ControllerServicos">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.station.leona.br/" schemaLocation="http://localhost:8080/Leona_Station/ControllerServicos?xsd=1"/>
</xsd:schema>
</types>
<message name="SetListaServicos">
<part name="parameters" element="tns:SetListaServicos"/>
</message>
<message name="SetListaServicosResponse">
<part name="parameters" element="tns:SetListaServicosResponse"/>
</message>
<message name="SetLigaDesliga">
<part name="parameters" element="tns:SetLigaDesliga"/>
</message>
<message name="SetLigaDesligaResponse">
<part name="parameters" element="tns:SetLigaDesligaResponse"/>
</message>
<message name="SetDirecao">
<part name="parameters" element="tns:SetDirecao"/>
</message>
<message name="SetDirecaoResponse">
<part name="parameters" element="tns:SetDirecaoResponse"/>
</message>
<message name="GetListaServicos">
<part name="parameters" element="tns:GetListaServicos"/>
</message>
<message name="GetListaServicosResponse">
<part name="parameters" element="tns:GetListaServicosResponse"/>
</message>
<message name="isLigado">
<part name="parameters" element="tns:isLigado"/>
</message>
<message name="isLigadoResponse">
<part name="parameters" element="tns:isLigadoResponse"/>
</message>
<portType name="ControladorServicos">
<operation name="SetListaServicos">
<input wsam:Action="http://controller.station.leona.br/ControladorServicos/SetListaServicosRequest" message="tns:SetListaServicos"/>
<output wsam:Action="http://controller.station.leona.br/ControladorServicos/SetListaServicosResponse" message="tns:SetListaServicosResponse"/>
</operation>
<operation name="SetLigaDesliga">
<input wsam:Action="http://controller.station.leona.br/ControladorServicos/SetLigaDesligaRequest" message="tns:SetLigaDesliga"/>
<output wsam:Action="http://controller.station.leona.br/ControladorServicos/SetLigaDesligaResponse" message="tns:SetLigaDesligaResponse"/>
</operation>
<operation name="SetDirecao">
<input wsam:Action="http://controller.station.leona.br/ControladorServicos/SetDirecaoRequest" message="tns:SetDirecao"/>
<output wsam:Action="http://controller.station.leona.br/ControladorServicos/SetDirecaoResponse" message="tns:SetDirecaoResponse"/>
</operation>
<operation name="GetListaServicos">
<input wsam:Action="http://controller.station.leona.br/ControladorServicos/GetListaServicosRequest" message="tns:GetListaServicos"/>
<output wsam:Action="http://controller.station.leona.br/ControladorServicos/GetListaServicosResponse" message="tns:GetListaServicosResponse"/>
</operation>
<operation name="isLigado">
<input wsam:Action="http://controller.station.leona.br/ControladorServicos/isLigadoRequest" message="tns:isLigado"/>
<output wsam:Action="http://controller.station.leona.br/ControladorServicos/isLigadoResponse" message="tns:isLigadoResponse"/>
</operation>
</portType>
<binding name="ControladorServicosPortBinding" type="tns:ControladorServicos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SetListaServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetLigaDesliga">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetDirecao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListaServicos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isLigado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControllerServicos">
<port name="ControladorServicosPort" binding="tns:ControladorServicosPortBinding">
<soap:address location="http://localhost:8080/Leona_Station/ControllerServicos"/>
</port>
</service>
</definitions>